<div class="container p-4 ">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="post">
                        <div class="form-group p-2">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group p-2">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-group p-2">
                            <button class="btn btn-success btn-fluid col-12">Inicia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>